[MAIN]
init-hook='import sys, os; root=os.path.abspath("."); sys.path[:0] = [root, os.path.join(root, ".venv/lib/python3.11/site-packages")]'

[MESSAGES CONTROL]
disable=
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    wrong-import-position

[FORMAT]
max-line-length=120
